body {
    background-color: rgb(48, 48, 48);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    color: rgb(239, 235, 228);
}

section {
    background-color: rgb(239, 235, 228);
    color: black;
    padding: 10px;
    border-radius: 10px;
    width: 25%;
    margin: auto;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

button {
    background-color: rgb(12, 112, 242);
    color: rgb(239, 235, 228);
    width: 40%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}